@page
@model RazorWebApp.Pages.Game.Game

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1>Game ID: @Model.GameId</h1>
    <h1>Active player ID: @Model.PlayerId</h1>
    <div>
        Players: @Model.Engine.State.Players.ToString()
        Cards of curr player: @{
                                  foreach (var card in Model.Engine.State.Players[Model.Engine.State.ActivePlayerNo].HandCards)
                                  {
                                      <p>@(card + ",")</p>
                                  }
                                  
                              }
    </div>
</div>
</body>
</html>