@page
@using Entities.Database
@model RazorWebApp.Pages.NewGame.NewGame

<!DOCTYPE html>

<html lang="en">
<head>
    <title></title>
</head>
<body>
<div>
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PlyrNumber" class="control-label"></label>
                <input asp-for="PlyrNumber" class="form-control" />
                <span asp-validation-for="PlyrNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            @if (Model?.PlyrNumber != null)
            {
                Model.Players = new Player[Model.PlyrNumber];
                string? temp = null;
                <div class="form-group">
                    @for (int i = 0; i < Model.PlyrNumber; i++)
                    {
                        
                        <label for="@($"playerName{i}")">Player @i Name:</label>
                        <input type="text" id="@($"playerName{i}")" asp-for="@temp" name="@($"playerName{i}")" class="form-control" />
                        Model.Players[i] = new Player();
                    }
                </div>

                <div class="form-group">
                    <input type="submit" value="Set Names" class="btn btn-primary" />
                </div>
                Console.WriteLine(Model.Players);
            }
            
        </form>
    </div>
    
</div>
</body>
</html>