@page
@model RazorWebApp.Pages.NewGame.NewGame

<!DOCTYPE html>

<html lang="en">
<head>
    <title></title>
</head>
<body>
<div class="new-game-container">
    <h2>Create a New Game</h2>
    <form method="post" asp-page-handler="ConfirmPlayerNumber">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="PlyrNumber" class="control-label">Choose Number of Players</label>
            <input asp-for="PlyrNumber" class="form-control" type="number" min="2" max="10" />
            <span asp-validation-for="PlyrNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Confirm Number of Players</button>
        </div>
    </form>
</div>
</body>
</html>